/*body{padding: 20px 0;background: #dedede}*/
header,section,article{display: block}

.super-envoltura{position: absolute;left: 0;right: 0;top: 66px;bottom: 35px}

.envoltura{margin: 20px auto; width: 920px}
.envoltura-pasos{margin: 0 auto;border: 1px solid #ccc;padding: 10px;background: #fff}

/* uno a muchos */
.envoltura-pasos header{background: #B3C0E0}

.tabs{height: 50px;margin: 0;padding: 0}
.tabs li{float: left;list-style: none;height: 100%;margin-left: -14px}
.tabs li:first-child{margin-left: 0;}
.tabs li a{/*background: #B3C0E0;/*/color: #56678C;cursor: default;float: left;height: 100%;line-height: 50px;font-size: 16px;font-weight: bold;}
.tabs li a.actual{color: #fff;text-decoration: none;}

.tabs li a span{/*background-color: #B3C0E0;*/padding:0 10px 0 24px}
.tabs li a.actual span{background: #3F4C6B url(../img/triangle-gray0.gif) 0 0 no-repeat;}

.tabs li a .triangle{width: 14px;height: 50px;float: right;background: url(../img/triangle-blue0.gif) no-repeat;}
.tabs li a.actual .triangle{background-image: url(../img/triangle-blue.gif);}

.tabs li a.pasado span{background: #efefef url(../img/triangle-gray0.gif) no-repeat 0 0;color: #aaa}
.tabs li a.pasado .triangle{background-image: url(../img/triangle-gray0.gif);}

.tabs li:first-child a span{background-image: url(../img/triangle-blue0.gif);}

.envoltura-pasos header .btn.right{margin: 10px 10px 0 0}

/* arreglando bootstrap */
form{margin: 0}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {margin-top: 4px;}
/* fin arreglando */

section .caja{background: #F1F1F1;}
section .caja{padding: 20px}
section .caja h1{margin: 0}

.alert{margin-bottom: 0}
.alert img{margin: 0 10px 0 0}
.alert p{line-height: 64px;margin: 0}

.envoltura .table{/*width: auto;*/background: #fff;margin: 0}
.verde{color: #006E2E}
.rojo{color: #B02B2C}

.datos{min-width: 600px}
.datos article{border:1px solid #ddd;background: #fff;padding: 9px;}
.datos article .foto{border:1px solid #efefef;background: #fff url(../img/loader.gif) center center no-repeat;width:169px;height:224px}
.datos article table{border-collapse: collapse;width: 400px;table-layout: fixed}
.datos article table th
,.datos article table td{font-size: 12px;padding: 4px 6px;white-space: nowrap;text-transform: uppercase;border: 1px solid #fff}
.datos article table th{text-transform: none;text-align: left}
.datos article table td{background: #efefef;overflow: hidden;width: 70%}

.datos dl{margin: 0}
.datos dt{font-size: 11px;text-transform: uppercase}
.datos dd{padding-bottom: 6px;margin-left: 0}

.lista-bottom{position: absolute;bottom: 0px;background: #fff;left: 0;right: 0;height: 200px}
.lista-bottom.cerrado{height: 30px;}
.lista-bottom header{border-top:3px solid #bbb;height: 27px;line-height: 27px;font-weight:bold;padding: 0 10px;}
.lista-bottom .cola{height: 170px;overflow-x: hidden;overflow-y: auto}
.lista-bottom .cola table{font-size: 12px;margin: 0}
.lista-bottom .cola table th{background: #bbb;color: #fff;text-transform: uppercase}
.lista-bottom .cola table th
,.lista-bottom .cola table td{padding: 3px 6px;line-height: 25px}
.lista-bottom .cola tr:hover td{background: #F9F7ED}

.icon-load{background: url(../img/loader-mini.gif) no-repeat;}

#tpl-datos{width: 0;height: 0;visibility: hidden;line-height: 0}

.capa-central{position: absolute;bottom: 200px;top: 0;left: 0;right: 0;overflow-x: hidden;overflow-y: auto}
.capa-central.extendido{bottom: 30px}

/* uno a uno */
.caja.borde{border: 1px solid #dfdfdf}