html,
body {
height: 100%;
min-width:1020px;
}
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -35px;
    background: url(../img/background-huella.jpg) no-repeat bottom left;
}
/*
General Layout
*/
.container-narrow {
margin: 0 auto;
max-width: 1020px;
}
#header{
	border-top:5px solid #661111;
	background-color:#f1f1f1;
	border-bottom: 1px solid #e5e5e5;
	padding:10px 0;
	height:40px;
}
#header .navbar{
	margin-bottom:0;
}
/*#header .nav{*/
	/*margin-top:25px;*/
/*}*/
#header #logo{
	width:95px;
	height:36px;
	background:url(../img/logo-reniec2.png) no-repeat;
    margin-top: 3px;
}
#header .container-narrow{max-width: none;padding: 0 15px}
#footer{
    background: #f1f1f1;
	width:100%;
	height:34px;
	border-top: 1px solid #e5e5e5;
	font-size:11px;
	color: #333;
    position: relative;
    z-index: 1;
}
#footer span{
	line-height:32px;
	margin-left:15px;
}
#main-content{
	padding:20px 30px 50px 30px;
}
/* Verificar */
#main-content #loginForm{
	padding: 20px 25px 15px;
	background: #f9f9f9;
	border: 1px solid #e5e5e5;	
}
/* Redefinición de cabeceras h1, h2, ... para la aplicación */
#main-content h1{
    font-size:19px;
    line-height:20px;
    color:#333333;
}
#main-content h2{
    font-size:18px;
    line-height:20px;
    color:#777777;
}
#main-content h3{
    font-size:17px;
    line-height:20px;
    color:#BBBBBB;
}
#main-content hr{
    margin:5px 0 15px 0;
}

#errorButton {
    position:fixed;
    top:100%;
    margin-top:-30px;
    left:100%;
    margin-left:-35px;
}
