/* CSS Framework: TipSS v2.0 */

/* normalize.css v2.0.1 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
/*fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}*/
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}

/* enlaces */
a{color:#00f;text-decoration:none}
a:active{outline:none}
a:hover{outline:none;text-decoration:underline}

/* estructura */
.left{float:left}
.right{float:right}
.clearer{overflow:hidden;width:100%}
.clearfix{zoom:1}
.clearfix:after{clear:both;content:"\0020";display:block;height:0;visibility:hidden}

/* margenes */
.mt5{margin-top:5px} .mt10{margin-top:10px} .mt15{margin-top:15px} .mt20{margin-top:20px}
.ml5{margin-left:5px} .ml10{margin-left:10px} .ml15{margin-left:15px} .ml20{margin-left:20px}

/* alineación */
.tar{text-align:right}
.tac{text-align:center}
img.left{display:inline;margin:0 10px 3px 0}
img.right{display:inline;margin:0 0 3px 10px}
img.center{display:block;margin-left:auto;margin-right:auto}

/* iconos */
.ico,
ul.ico li{height:16px; line-height:16px}
.ico span,
ul.ico li span{float:left; height:16px; margin-right:3px; width:16px}
ul.ico {height:auto;line-height:normal}

/* iconos v2 */
.icol
,ul.icol li span{float:left;height:16px;margin-right:3px;width:16px}
.icor
,ul.icor li span{float:right;height:16px;margin-left:3px;width:16px}
ul.icol
,ul.icor{float:none;height:auto;margin:0;width:auto}
ul.icol li
,ul.icor li{min-height:16px}

.icon{display: inline-block;height: 16px;width: 16px;vertical-align:middle}

.img-rpl{overflow: hidden;text-indent: 100%;white-space: nowrap}

/* bordes redondeados con imagenes */
.esq{background-repeat:no-repeat;height:4px;position:absolute; width:4px}
.si{left:0;top:0}
.sd{right:0;top:0;background-position:-4px 0}
.ii{left:0;bottom:0;background-position:0 -4px}
.id{right:0;bottom:0;background-position:-4px -4px}

/* bordes redondeados con css3 */
.curva{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.round2{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.round4{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.round8{-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
.round16{-moz-border-radius:16px;-webkit-border-radius:16px;border-radius:16px}
.curva-sup{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px}
.curva-inf{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}
.curva-izq{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px}
.curva-der{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}

/* otros */
.oculto{display:none;}
.mitad{width:47%}
.sombra{-moz-box-shadow:0px 0px 4px #000;-webkit-box-shadow:0px 0px 4px #000;box-shadow:0px 0px 4px #000}
.mb10{margin-bottom:10px}
.mt10{margin-top:10px}

/* formularios */
button::-moz-focus-inner
,input::-moz-focus-inner{border: 0;padding: 0}

/* tablas */
/* listas */